# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science
- Python
- R
- Scala
- Julia
- SQL

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit Learn
3. PyTorch
4. ggplot

|Data Science Tools |
| ------ | 
| Apache Spark |
| Hadoop |
| IBM Watson |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
Hours=minutes/60
Hours

3.3333333333333335

## Author

BOUYANGHAN Jules Darcy